$primary-light: #1b7fcce8;
$primary-dark: #3997dfe8;
$primary-bg: rgba(45, 135, 206, 1);
$secondary-bg: rgba(45, 135, 206, 0.7);
$button-color: #de5630;
$white: white;

//size will be change
$standard-font: 1rem;
$small-font: 1.125rem;
$medium-font: 1.525rem;
$large-font: 2rem;
